.counterStyle {
  margin: 5px 1px;
  background-color: rgb(238, 143, 152);
  border: 1px solid rgb(238, 143, 152);
  padding: 8px 50px;
}

.counterStyle:hover {
  background-color: rgb(238, 143, 152);
  border: 1px solid rgb(238, 143, 152);
  padding: 8px 50px;
}

.countSpan {
  margin: 1px;
  padding: 9px 15px;
  font-size: 18px;
  font-weight: lighter;
  color: grey;
  border: 1px solid rgb(238, 143, 152);
  border-radius: 5px;
}
