.cardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  margin: 15px;
  width: 600px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.CardImg {
  width: 600px;
  height: 700px;
  margin-top: 0px;
  margin-bottom: 10px;
  object-fit: cover;
}

.productTitle {
  font-weight: lighter;
  font-size: 1.5rem;
  color: #181616;
}

.productTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productPrice {
  font-weight: lighter;
  font-size: 1.5rem;
  color: #181616;
}

.buttonDetails {
  background-color: black;
  color: #fff;
  border-color: black;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 5px 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.buttonDetails:hover {
  background-color: black;
  border: 1px solid black;
  color: solid white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: lighter;
  transition: all 0.5s ease;
  transform: scale(1.2);
  padding: 5px 65px;
}

.buttonDetails:active {
  background-color: black !important;
  color: #fff;
  border-color: black !important;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: solid lighter;
  transition: all 0.5s ease;
  transform: scale(1.2);
}
