.navbar {
  background-color: rgb(33, 102, 75);
  padding: 0 !important;
  margin: 0 !important;
}

.navbar-cointainer {
  padding: 0 !important;
}
.navbar-brand {
  margin: 0;
  padding: 0;
  color: #fff !important;
}
.color-white {
  color: #fff !important;
}
#basic-nav-dropdown {
  color: #fff !important;
  font-weight: 600 !important;
}

/* text-transform: capitalize !important;*/
