.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(33, 102, 75);
  position: sticky;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  color: #fff !important;
}
.navBarLogo {
  height: 6em;
  width: 6em;
  pointer-events: none;
  border-radius: 50%;
  background-color: rgb(33, 102, 75);
}

.color-white {
  color: #fff !important;
}
.nameStore {
  font-size: 1rem !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  color: #fff !important;
}

.navBarToggler {
  font-weight: 300 !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
  border-color: transparent !important;
}
.navBarToggler:hover {
  color: transparent !important;
  transition: all 0.2s !important;
}

#basic-nav-dropdown {
  border-color: transparent !important;
  color: #fff !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
}
.dropdownItem {
  color: #000 !important;
  font-weight: 200 !important;
  text-transform: uppercase !important;
}
.dropdownItem:hover {
  background-color: rgb(33, 102, 75) !important;
  transition: 0.2s !important;
  color: #fff !important;
  font-weight: 200 !important;
}
