.navBar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 102, 75);
  height: 100px;
}

.navBarLogo {
  height: 100px;
  width: auto;
  pointer-events: none;
  border-radius: 50%;
  background-color: rgb(33, 102, 75);
}

.nameStore {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

.navBarContent .dropdown-toggle {
  margin-left: 20px;
  color: white !important;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.navBarDropdown a span {
  border-color: transparent;
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
.dropdownItem {
  color: #000;
  font-weight: 200;
  text-transform: uppercase;
}
.dropdownItem:hover {
  background-color: rgb(33, 102, 75);
  transition: 0.2s;
  color: #fff;
  font-weight: 200;
}

@media screen and (max-width: 800px) {
  .navBarContent .dropdown-toggle {
    margin-left: 0px;
  }
}
